.expense-font {
	font-weight: 600;
}

.income-btn {
	/*margin-left: 10px;*/
	width: 150px;
}

.expense-btn {
	/*margin-right: 30px;*/
	width: 150px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left:    5px solid transparent;
  border-right:   5px solid transparent;
  border-bottom:  10px solid black;
  display: inline-block;
}


.arrow-down {
  width: 0;
  height: 0;
  border-left:    5px solid transparent;
  border-right:   5px solid transparent;
  border-top:     10px solid black;
  display: inline-block;
}
