<div class='animated fadeInDown' style='animation-duration: 1200ms; animation-delay: 300ms;'>
	<div class="container">
		<div class="text-center">
			<div class="row">
				<div class="bold">
					<i><h2 class="font-oxygen">About Me</h2></i>
				</div>
			</div>
			<div class="row padding-top-20">
				<div class='col-sm-8'>
					<div class='padding-top-10 padding-bottom-10 font-16' style="background-color: #DFDED4">
						When I thought I couldn't go on, I forced myself to keep going. 
						<br/> My success is based on persistence, not luck - <b>Estee Lauder</b>	
					</div>
					<div class="padding-top-10 text-left">
						<p>
							<b>Who am I?</b>
							<br>
							My name is Amarnath Chandana. I am 28 years old, currently living in Bangalore, India.
						</p>
					</div>
					<div class="padding-top-10 text-left">
						<p>
							<b>What I'm upto</b>
							<br>
							In July 2012, I have graduated from the International Institute of Information Technology-Bangalore (aka IIITB), majoring in Database and Information Systems. Currently working with Oracle India Pvt. Ltd. as Senior Software Developer.
						</p>
					</div>
					<div class="padding-top-10 text-left">
						<p>
							<b>Technical Skills and Experience</b>
							<br>
							For those who are interested, here are some of the detail of my skills and experience.
							<ul>
								<li>Web Development</li>
								<li>Desktop App. Development</li>
								<li>Sql Server Integration Service (SSIS)</li>
							</ul>
							Most of my development areas are focused on Java, J2EE, JavaScript.
						</p>
					</div>
					<div class="padding-top-10 text-left">
						<p>
							<b>Web Development Skills</b>
							<br>
							My web development skills are the fastest growing part of my technical skill set. I'm an all rounder with both front-end and back-end development skills. My work has been primarily focussed on:
							<ul>
								<li>Java, J2EE</li>
								<li>JavaScript, AngularJS, NodeJS</li>
								<li>CSS, HTML, Jade</li>
								<li>AJAX and JQuery</li>
								<li>Oracle DB, MongoDB</li>
								<li>Spring and Express framework</li>
							</ul>
							<h4 class="bold">Currently I am learning MEAN(MongoDB, Express, AngularJS, NodeJS) stack technologies.</h4>
						</p>
					</div>
				</div>
				<div class='col-sm-4'>
					<div>
						<img src="/images/about.jpg" width="350px" height="400px" class="thick-border">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>