<div class='home'>
    <div class='transparent'>
      <div class='centered'>
        <h1 class='header-font white animated fadeInLeft'>Welcome to <span class='font-oxygen'>eToolStore</span></h1>
        <p class='label-font white animated fadeInRight'>EXPENSE REPORTING - REMAINDER'S - PDF OPERATION'S - IMAGE OPERATION'S</p>
        <div style='margin-top: 50px;' class='animated fadeInUp'>
          <a class='white start-btn' ng-click='gotoUrl("services")'>START NOW</a>
        </div>
      </div>
    </div>
</div>