<div class='container'>
	<div class="row" style='padding-top: 15%;'>
	    <div class="col-md-5 col-md-offset-3 bg-login animated fadeInDown">
	    	<!-- Login Panel - START -->
	    	<div class='row login-header bg-primary'>
	    		<div class="col-md-6 col-md-offset-3">
	    			<h5>Please Register</h5>
	    		</div>
	    	</div>

	    	<div style='padding-top: 10px;'>
	    		<form id="registerForm" name="registerForm" ng-submit="register()" method="POST" novalidate>
	            	<div class="form-group">
	                    <p for="username" class="control-label">Username</p>
	                    <input 
	                    		type="email" 
	                    		ng-model="regis_uname_data" 
	                    		class="form-control" 
	                    		name="regis_uname" 
	                    		placeholder="example@gmail.com" 
	                    		ng-focus="clearErrMsg()"
	                    		autofocus ng-required="true"/>
	                    	<span class="red" 
	                    			ng-show="registerForm.regis_uname.$dirty && registerForm.regis_uname.$invalid">
	                    		<span ng-show="registerForm.regis_uname.$error.required">Email is required.</span>
								<span ng-show="registerForm.regis_uname.$error.email">Invalid email address.</span>
							</span>
	                </div>
	                <div class="form-group">
	                    <p for="password" class="control-label">Password</p>
	                    <!-- 
	                    	Do not use password value for name attribute. It is not working for validation
	                    -->
	                    <input 
	                    		type="password" 
	                    		ng-model="regis_pwd_data"
	                    		name="regis_pwd" 
	                    		ng-minlength=6 
	                    		ng-maxlength=10 
	                    		class="form-control" 
	                    		ng-focus="clearErrMsg()"
	                    		ng-required="true" />
	                    <span class="red" ng-show="registerForm.regis_pwd.$dirty">
	                    	<span ng-show="registerForm.regis_pwd.$error.required">Password is required.</span>
	                    	<span ng-show="registerForm.regis_pwd.$error.minlength">Password should have minimum 6 to maximum 10 characters.</span>
	                    	<span ng-show="registerForm.regis_pwd.$error.maxlength">Password too long.</span>
	                	</span>
	                </div>
	                <div class="form-group">
	                    <p for="password" class="control-label">Confirm Password</p>
	                    <input 
	                    		type="password" 
	                    		class="form-control" 
	                    		name="regis_confirm_pwd" 
	                    		ng-model="regis_confirm_data" 
	                    		ng-minlength=6
	                    		ng-maxlength=16
	                    		ng-focus="clearErrMsg()"
	                    		ng-required="true" />
	                    <span class="red" ng-show="registerForm.regis_confirm_pwd.$dirty">
	                    	<span ng-show="registerForm.regis_confirm_pwd.$error.required">Password is required.</span>
	                    	<span ng-show="registerForm.regis_confirm_pwd.$error.minlength">Password should have minimum 6 to maximum 16 characters.</span>
	                    	<span ng-show="registerForm.regis_confirm_pwd.$error.maxlength">Password too long.</span>
	                	</span>		
	                </div>
	                <div style="margin-bottom: 5px;">
	                	<span ng-show="registration_failed_error" class="red">{{registration_failed_error_msg}}</span>
	                </div>
	            	<div>
	                	<button type= "submit" 
	                			class="btn btn-primary btn-block" 
	                			ng-disabled="registerForm.$invalid" 
	                			ng-click="register()">
	                			Register
	                	</button>
	                </div>
	            </form>
	    	</div>
	        <!-- Login Panel - END -->

	        <div class='login-footer pull-left'>
	        	Nope. I have an account. Login <a href="" ng-click="gotoUrl('/login')">here</a>
	        </div>
	    </div>
	</div>	
</div>

