<div id='services' class='services'>
	<div class='container'>
		<div class='row text-center' style='padding-bottom: 90px;'>
			<div class='col-sm-8 col-sm-offset-2 animated fadeInDown' style='animation-duration: 1000ms; animation-delay: 300ms;'>
				<h2>Our Services</h2>
				<p>We provide you services that will cater to your daily needs ... absolutly free of cost.</p>
			</div>
		</div>

		<div class='text-center'>
			<div class='row'>
				<div  class='col-sm-6 animated fadeInDown border-right border-bottom srv-icon-padding-bottom' 
					  style='animation-duration: 1000ms; animation-delay: 300ms;'>
					<div class='service-icon' ng-click='gotoUrl("/services/expensereporting")'>
						<i class="fa fa-rupee"></i>	
					</div>
					<div class='service-info'>
						<h3>Expense Reporting</h3>
						<p>Keep track of your expenses every month.</p>
					</div>
				</div>

				<div  class='col-sm-6 animated fadeInDown border-bottom srv-icon-padding-bottom' 
					  style='animation-duration: 1000ms; animation-delay: 500ms;'>
					<div class='service-icon' ng-click='remainders()'>
						<i class="glyphicon glyphicon-time"></i>	
					</div>
					<div class='service-info'>
						<h3>Remainder's</h3>
						<p>Let us help you in remainding stuff.</p>
					</div>
				</div>
			</div>
			<div class='row'>
				<div  class='col-sm-6 animated fadeInDown border-right srv-icon-padding-bottom srv-icon-padding-top' 
					  style='animation-duration: 1000ms; animation-delay: 700ms;'>
					<div class='service-icon' ng-click='pdfOper()'>
						<i class="fa fa-exchange"></i>	
					</div>
					<div class='service-info'>
						<h3>PDF Operation's</h3>
						<p>We provide PDF operations like Merging, Spliting, <br> Converting word doc to PDF.</p>
					</div>
				</div>

				<div  class='col-sm-6 animated fadeInDown srv-icon-padding-bottom srv-icon-padding-top' 
					  style='animation-duration: 1000ms; animation-delay: 900ms;'>
					<div class='service-icon' ng-click='imgOper()'>
						<i class="glyphicon glyphicon-picture"></i>	
					</div>
					<div class='service-info'>
						<h3>Image Operation's</h3>
						<p>Beautify your image using our tool.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>