<div>
	<script type="text/ng-template" id="delete_dialog.html">
		<div class="modal-header bs-danger">
          <h4 class="modal-title">Confirm Delete</h4>
        </div>
        <div class="modal-body">
	        <div class="row">
	        	<div class="col-sm-2 col-sm-offset-1 text-center">
	        		<span style="font-size: 60px;" class="font-danger">
	        			<span class="glyphicon glyphicon-remove-sign"></span>
	        		</span>	
	        	</div>
		        <div class="col-sm-8">
		        	<p style='font-size: 16px;' class='padding-top-10'>
          				Are you sure you want to delete this transaction?
          				<br>
          				<b>Note:</b> There is no Undo.
      				</p>
		        </div>
	        </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete()">
          		<span class="glyphicon glyphicon-trash"></span>	Delete
            </button>
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    	</div>
	</script>
</div>